.dictionary__list {
  background: #fff;
  padding-inline-start: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 14px 0;
}

.dictionary__item {
  position: relative;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.dictionary__item-input {
  width: 100%;
  font-size: 24px;
  border: 0;
  color: darkgrey;
}

.dictionary__warning-wrapper {
  display: flex;
  position: absolute;
  left: -6px;
  top: 0;
  bottom: 0;
}

.dictionary__warning {
  width: 4px;
}

.dictionary__warning--0 {
  background-color: lightgreen;
}
.dictionary__warning--1 {
  background-color: lightblue;
}
.dictionary__warning--2 {
  background-color: bisque;
}
.dictionary__warning--3 {
  background-color: lightcoral;
}
.dictionary__warning--4 {
  background-color: black;
}

.dictionary__button--delete {
  color: coral;
  background-color: transparent;
  justify-self: end;
  border: none;
  font-weight: 100;
  padding: 3px;
  cursor: pointer;
}
.dictionary__button--add {
  border: 1px solid lightgray;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.dictionary__form {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.dictionary__input {
  flex: 1;
  font-size: 24px;
  line-height: 1.4em;
  border: 1px solid lightgray;
  padding: 6px;
  width: 100%;
  margin-right: 2px;
}

.instruction__item {
  position: relative;
}
